
        body {
            font-family: 'Poppins', sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        .button-container {
            text-align: center;
        }

        .button {
            display: inline-block;
            font-size: 20px;
            background: #06C167;
            padding: 10px 30px;
            text-decoration: none;
            font-weight: 500;
            margin: 10px;
            color: #fff;
            letter-spacing: 2px;
            transition: 0.2s;
            cursor: pointer;
        }

        .button:hover {
            letter-spacing: 6px;
        }
    